# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Flask / App
instance/
*.egg-info/
dist/
build/

# PyInstaller
*.spec
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Zip archives
*.zip
